@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
/* @import "~react-image-gallery/styles/css/image-gallery.css"; */
@layer base {
    * {
        box-sizing: border-box;
    }
    body {
        font-family: "Poppins", sans-serif;
    }
}
@layer components {
    .container {
        width: 1170px;
        max-width: calc(100% - 48px);
        margin-left: auto;
        margin-right: auto;
    }
    .background {
        background-color: white;
        border-radius: 0.5rem;
        padding: 1.25rem;
    }
}
